<template>
  <div ref="chart"></div>
</template>

<script>
import { ref, onMounted, onUnmounted } from 'vue';
import Highcharts from 'highcharts';

export default {
  setup() {
    const chart = ref(null);

    onMounted(() => {
      fetch('https://disease.sh/v3/covid-19/historical/all?lastdays=all')
        .then(response => response.json())
        .then(data => {
          const categories = Object.keys(data.cases);
          const confirmed = Object.values(data.cases);
          const deaths = Object.values(data.deaths);
          const recovered = Object.values(data.recovered);

          Highcharts.chart(chart.value, {
            title: {
              text: 'Data Historical COVID-19'
            },
            xAxis: {
              categories: categories
            },
            yAxis: {
              title: {
                text: 'Cases'
              }
            },
            series: [{
              name: 'Confirmed',
              data: confirmed
            }, {
              name: 'Deaths',
              data: deaths
            }, {
              name: 'Recovered',
              data: recovered
            }]
          });
        })
        .catch(error => {
          console.error('Error fetching COVID-19 data:', error);
        });
    });

    onUnmounted(() => {
      if (chart.value) {
        chart.value.destroy();
      }
    });

    return {
      chart
    };
  }
};
</script>

<style>
</style>

