
<template>
  <div>
    <main class="min-h-screen w-full bg-gray-100 text-gray-700" >
      <!-- header page -->
      <header class="flex w-full items-center justify-between border-b-2 border-gray-200 bg-white p-2">
          <!-- logo -->
          <div class="flex items-center space-x-2">
              <button type="button" class="text-3xl" @click="toggle()"><i class="bx bx-menu"></i></button>
              <div>Covid 19 Tracking</div>
          </div>
  
      </header>
  
      <div class="flex">
          <!-- aside -->
          <aside class="flex w-72 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2" style="height: 90.5vh"
              v-show="asideOpen">
              <NuxtLink class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600" to="/">
                  <span class="text-2xl"><i class="bx bx-map"></i></span>
                  <span>Map</span>
              </NuxtLink>
  
              <NuxtLink to="/chart" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                  <span class="text-2xl"><i class="bx bx-chart"></i></span>
                  <span>Chart</span>
              </NuxtLink>
          </aside>
  
          <!-- main content page -->
          <div class="w-full p-4"> <slot /></div>
      </div>
  </main>
  </div>
</template>
<script>

export default {
 data() {
  return {
    asideOpen: true
  }
 },
 methods: {
  toggle() {
			this.asideOpen = ! this.asideOpen
		}
 },
};

</script>