<template>
  <div>
    <header class="text-center bg-blue-800 text-white p-4 mb-5">
      <div class="text-3xl md:text-2xl font-bold mb-3">
        <i class="fa fa-viruses"></i> Covid-19 Totals for all countries
      </div>
    </header>
    <div ref="map" style="height: 500px;"></div>
  </div>
</template>

<script>
import L from 'leaflet';

export default {
  data() {
    return {
      map: null
    };
  },
  mounted() {

    this.map = L.map(this.$refs.map).setView([0, 0], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.map);

    fetch('https://disease.sh/v3/covid-19/countries')
      .then(response => response.json())
      .then(data => {
        data.forEach(country => {
          const { countryInfo, country: name, cases, deaths, recovered } = country;
          const lat = countryInfo.lat;
          const long = countryInfo.long;

          const marker = L.marker([lat, long]).addTo(this.map);
          marker.bindPopup(`
            <b>${name}</b><br>
            Cases: ${cases}<br>
            Deaths: ${deaths}<br>
            Recovered: ${recovered}
          `);
        });
      })
      .catch(error => {
        console.error('Error fetching COVID-19 data:', error);
      });
  },
  beforeDestroy() {
    if (this.map) {
      this.map.remove();
    }
  }
};
</script>

<style>
</style>
